.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


* {
  touch-action: manipulation;
  outline: none;
}


body {
  font-size: 32px;
  font-family: Roboto, Arial, sans-serif;
  font-feature-settings: "lnum";
}

#title {
  text-align: center;
  font-family: Roboto Mono;
  font-size: 36px;
  letter-spacing: -2px;
  margin-top: 34px;
  margin-bottom: -3px;
}
#banner-container {
  text-align: center;
  margin-bottom: 44px;
}
#banner {
  display: inline-block;
  font-size: 12px;
  letter-spacing: .025em;
  /* font-weight: 300; */
  padding: 5px 9px;
  color: #3c4043;
  background-color: #e1e3e6;
  border-radius: 8px;
  min-width: 100px;
}
#banner.win {
  background-color: #b6f2c6;
}
#banner.lose {
  background-color: #f2b6c8;
}


button {
  display: block;
  margin: 32px auto 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-size: 17px;
  padding: 0.6em 1.2em;
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
button:hover, button.forced {
  background-color: #191919;
  box-shadow: 0 1px 5px 1px rgb(25 25 25 / 32%);
}
button:active, button.forced {
  background-color: #323232;
}
button.blocked {
  color: #bbb;
  background-color: #ddd;
  cursor: auto;
  box-shadow: none;
}
button.forced, button.blocked {
  cursor: auto;
}


.ui-draggable {
  cursor: move;
  z-index: 1;
}

.ui-draggable-dragging {
  box-shadow: 0 0 20px rgb(0 0 0 / 10%)
}

.ui-draggable-disabled {
  cursor: auto;
}

.ship {
  position: absolute;
  margin: -1.5px;
  border: 2px solid #000000;
  background: rgba(0 0 0 / 5%);
}
.ship-shadow, #aimer {
  position: absolute;
  margin: -1.5px;
  border: 2px solid slateblue;
  background: rgba(106 90 205 / 5%);
  z-index: 3;
}
.ship.shaking, .ship.hit {
  border: 2px solid crimson;
  background: rgba(220 20 60 / 5%);
  z-index: 2;
}
#aimer {
  width: calc(1em - 2px);
  height: calc(1em - 2px);
  cursor: pointer;
}

.cruiser.v, .submarine.v                 { width: calc(1em - 2px); height: calc(3em - 2px); }
.cruiser.h, .submarine.h                 { width: calc(3em - 2px); height: calc(1em - 2px); }
.carrier.v                               { width: calc(1em - 2px); height: calc(5em - 2px); }
.carrier.h                               { width: calc(5em - 2px); height: calc(1em - 2px); }
.battleship.v                            { width: calc(1em - 2px); height: calc(4em - 2px); }
.battleship.h                            { width: calc(4em - 2px); height: calc(1em - 2px); }
.ptboat.v                                { width: calc(1em - 2px); height: calc(2em - 2px); }
.ptboat.h                                { width: calc(2em - 2px); height: calc(1em - 2px); }

.port-ship.cruiser, .port-ship.submarine { width: calc(1em - 1px); height: calc(3em - 1px); }
.port-ship.carrier                       { width: calc(1em - 1px); height: calc(5em - 1px); }
.port-ship.battleship                    { width: calc(1em - 1px); height: calc(4em - 1px); }
.port-ship.ptboat                        { width: calc(1em - 1px); height: calc(2em - 1px); }
.port-ship.submarine                     { width: calc(1em - 1px); height: calc(3em - 1px); }

.port {
  display: block;
  width: auto;
  height: auto;
  padding: 0 0.125rem;
  position: absolute;
  margin-top: -0.55em;
  margin-left: -4em;
}

.port-line {
  margin: 0;
  padding: 0 0.125em;
}

.port-ship {
  padding: 0;
  margin: 0.25em 0;
  border: 1px dotted #b2b2b9;
}


table {
  border-spacing: 0;
}
.battlefield-table {
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

.battlefield-body {
  width: 10em;
  min-width: 10em;
  height: 10em;
}

.battlefield-row {
  width: 10em;
  min-width: 10em;
  height: 1em;
}

.battlefield-cell {
  display: table-cell;
  box-sizing: border-box;
  min-width: 1em;
  height: 1em;
  border: 1px solid #c8c8cc;
  padding: 0;
  position: relative;
}


.battlefield-cell.miss > .battlefield-dot, .battlefield-cell.hit > .battlefield-dot, .battlefield-cell.hit-ship > .battlefield-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}

.battlefield-cell.miss {
  background: rgba(169 169 169 / 5%);
}
.battlefield-cell.miss.move {
  background: rgba(169 169 169 / 15%);
}
.battlefield-cell.miss > .battlefield-dot {
  background: darkgray;
}

.battlefield-cell.hit, .battlefield-cell.hit-ship {
  background: rgba(220 20 60 / 5%);
}
.battlefield-cell.hit.move, .battlefield-cell.hit-ship.move {
  background: rgba(220 20 60 / 15%);
}
.battlefield-cell.hit-ship {
  border: 1px solid rgba(220 20 60 / 50%);
}
.battlefield-cell.hit > .battlefield-dot, .battlefield-cell.hit-ship > .battlefield-dot {
  background: crimson;
}

.h-marker, .v-marker, .label {
  position: absolute;
  color: #5d5d5e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.h-marker, .v-marker {
  width: 0.5em;
  padding: 0;
  font-size: 12px;
}
.h-marker {
  width: 32px;
  height: 32px;
  line-height: 33px;
  margin-left: -44px;
  margin-top: -16px;
  text-align: right;
}
.v-marker {
  width: 32px;
  display: block;
  margin-top: -3.25em;
  text-align: center;
}
.label {
  width: 319px;
  height: 32px;
  top: 336px;
  font-size: 12px;
  text-align: center;
  padding: 0;
}
