* {
  font-family: Roboto;
  line-height: 2em;
}
::selection {
  color: white;
  background: #6257c2;
}
body { padding: 8px }
a { color: inherit }

.group:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  margin-bottom: 96px;
}

.heading {
}
.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 48px);
  margin: 0 -16px;
  padding: 24px;
  background: #423b84;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025em;
}
