* {
  box-sizing: border-box;
  font-family: Roboto;
}

/* Mdc override */
:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #6200ee;
}
.mdc-form-field {
  font-size: 16px;
  height: 40px;
}

.formLabel {
  width: 100%;
  font-weight: 500;
  font-size: .94rem;
  padding-bottom: 8px;
}
.formGroup {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.row, .col { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }
.mainStart { justify-content: start; }
.mainCenter { justify-content: center; }
.mainEnd { justify-content: end; }
.mainBetween { justify-content: space-between; }
.crossStart { align-items: start; }
.crossCenter { align-items: center; }
.crossEnd { align-items: end; }
.expand { flex: 1; }
.smallGap { gap: 4px; }
.gap { gap: 8px; }
.largeGap { gap: 16px; }
.fullWidth { width: 100%; }
.dense { height: 40px; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.place-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

.place-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


#dragContainer {
  display: flex;
  height: 100%;
}

#dragBar {
  padding: 0 6px;
  margin: 0 -6px;
  cursor: ew-resize;
  background: transparent;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}
#dragBar:hover, #dragBar:active {
  background: #0004;
  transition-delay: .2s;
}

#dragLeft, #dragRight {
  height: 100%;
  min-width: 380px;
}
#dragLeft {
  overflow-y: auto;
  width: 380px;
}
#dragRight {
  flex: 1;
}

main {
  color: var(--mdc-theme-text-primary-on-background);
}

.spaceAroundIcon {
  padding: 0 8px;
}
hr {
  width: 100%;
  border-top: 1px solid var(--mdc-theme-hint-on-light);
}
h1 {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}
.material-icons, .material-icons-outlined {
  user-select: none;
}

div:not(:hover, :focus-within) > .xButton {
  visibility: hidden;
}

/* Pac override */
.pac-container {
  box-sizing: content-box;
  padding: 0 16px;
  margin: 0 -16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pac-item {
  cursor: pointer;
  box-sizing: content-box;
  padding: 2px 16px;
  margin: 0 -16px;
}

/* Google maps directions override */
.adp-placemark {
    border-spacing: 8px;
    border-radius: 4px;
    border: none !important;
    background: white !important;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    font-weight: 500 !important;
    color: var(--mdc-theme-text-primary-on-background);
    padding: 4px;
}
.adp-list {
    /* border: 1px solid var(--mdc-theme-text-hint-on-light) !important; */
    border: none !important;
}
.adp-step, .adp-substep {
    /* border-top: 1px solid var(--mdc-theme-text-hint-on-light) !important; */
    border: none !important;
}
.adp .adp-summary, .adp .adp-table, .adp-substep {
    font-weight: 400;
}
.adp .adp-substep b {
    font-weight: 500;
}
.adp .adp-substep {
    padding: .5em 6px;
}
.adp .adp-summary {
    padding: .4em 8px .5em 8px;
}
.adp .adp-directions {
    width: 100%;
}
.adp-legal {
    display: none;
}
.adp-directions td:nth-child(2) {
    padding-right: 0;
}
.adp-directions td:first-child {
    padding-left: 8px;
}
.adp-directions td:last-child {
    padding-right: 8px;
}
.adp .adp-listsel {
    background: #fafafa;
}


/* Map override */
/* .gm-style .gm-style-iw-c {
    border-radius: 4px !important;
    padding-top: 16px !important;
    padding-left: 16px !important;
}
.gm-style .gm-style-iw-d {
    padding-bottom: 4px;
}
.gm-style .gm-style-iw-d .view-link {
    margin-top: 4px;
} */


.hiddenDirections {
  display: none;
}
